* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.error{
color: red;
}

body {
  background-color: #f1f1f1;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
}

.apply_box {
  max-width: 600px;
  padding: 20px;
  background-color: white;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
  border-radius: 10px;
}

.title_small {
  font-size: 20px;
}

.form_container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.form_control {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 15px;
  margin-bottom: 5px;
}

input,
select,
textarea {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}

input:focus {
  outline-color: red;
}

.button_container {
  display: flex;

  justify-content: flex-end;
  margin-top: 20px;
}
button {
  background-color: red;
  border: transparent solid 2px;
  padding: 5px 10px;
  color: white;
  border-radius: 8px;
  transition: 0.3s ease-in;
}
button:hover {
  background-color: #ccc;
  border: 2px solid red;
  color: black;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.textarea_control {
  grid-column: 1 / span 2;
}
.textarea_control textarea {
  width: 100%;
}

img{
  width: 50%;
  height: 50%;
  margin: auto -50px;
  border-radius: 50px;
  box-shadow: 12px 9px 8px 6px black;
}

@media (max-width: 460px) {
  .textarea_control {
    grid-column: 1 / span 1;
  }

  img{
    display: none;
  }
} ;


@media screen and (max-width: 800px) {
  .container{
    width: 100%;
    padding: 7%;
  }

  img{
    display: none;
  }
}

@media screen and (max-width: 762px) {
  .container{
    width: 100%;
    padding: 3%;
    overflow-x: hidden;
  }

  img{
    display: none;
  }
  .apply_box{
    overflow-x: hidden;
    box-shadow: 5px 3px 8px 5px rgb(76, 75, 75);
  }

  input{
    width: fit-content;
  }

  .error{
    font-size: small;
  }
}

@media screen and (max-width: 768px) {
  .container{
    max-width: 900px;
    justify-content: center;
  }
}

@media screen and (max-width: 912px) {
  img{
    width: 40%;
    height: 50%;
    margin: auto -50px;
    border-radius: 50px;
    box-shadow: 12px 9px 8px 6px black;
  }
}